@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.images {
   width: 100%;
}

#degrees {
   font-size: 4rem;
}

#place {
   font-size: 4rem;
}

.bigInfo {
   font-size: 3rem;
}

#welcome,
#place,
#weather,
#city {
   font-size: 2rem;
   font-weight: 500;
}

.row {
   height: 28vh;
}

a {
   color: white;
   text-decoration: none;
}

img {
   width: 100%;
}

/* #zodiac {
   width: 50%;
} */

#randomQuote {
   font-family: "Lora", serif;
   font-size: 2rem;
}

hr {
   border-top: 2px solid black;
}

body {
   background-image: url("Images/pexels-francesco-ungaro-998641.jpg");
   background-color: black;
   background-repeat: no-repeat;
   background-size: cover;
}

.white {
   color: white;
}

.container-fluid {
   height: 100vh;
}

.black {
   color: black;
   font-weight: 500;
}

/* Media Queries */

@media (min-width: 400px) {
   #place,
   #weather,
   #city {
      font-size: 1rem;
   }
   #randomQuote {
      font-size: 1.5rem;
   }
}

@media (min-width: 768px) {
   #welcome,
   #place,
   #weather,
   #city {
      font-size: 1.5rem;
      font-weight: 500;
   }
   #randomQuote {
      font-size: 2rem;
   }
}

@media (min-width: 992px) {
   #welcome,
   #place,
   #weather,
   #city {
      font-size: 2rem;
      font-weight: 500;
   }
   #randomQuote {
      font-size: 2rem;
   }
}
