body {
   background-image: url(https://cutewallpaper.org/28/cloudy-rain-phone-wallpaper-gifs/keeping-people-safer-in-extreme-weather.gif);
   background-repeat: no-repeat;
   background-size: cover;
}

.form-col {
   padding: 2em;
   border-radius: 4em;
}

.row-form {
   display: flex;
   justify-content: center;
   align-items: center;
}

.fa-xl {
   padding: 15px;
}

a {
   color: black;
}
